<% object.words.each do |word| %>
  <div id="<%= word.word %>" class="toggle" style="display:none">
    <h1 class="quotes-list"><%= word.word %></h1>
    <%= image_tag 'positive.png', width: "50px" %> <%= word.percent_positive %>% POSITIVE <%= image_tag 'negative.png', width: "50px" %> <%= word.percent_negative %>% NEGATIVE
    <% word.random_quotes.each do |quote| %>
        <p class="quote">
          "<%= quote.snippet %>" - <%= quote.speaker %> <%= link_to "(read the full quote)", quote_path(quote) %>
        </p>
      <% end %>
  </div>
<% end %>
